main.home-wrapper__main {
  background-color: #fff !important;
  border-radius: 20px;
  margin-bottom: 3.75rem;
}
.nav-tabs .nav-item {
  border-bottom: 1px solid #d6d6d6;
}

.nav-tabs {
  border: none;
}
.content-wrapper {
  margin-top: 33px;
}
.timeline {
  position: relative;
  display: flex;
}
.notice-wrapper {
  flex-grow: 1;
}
.notice {
  margin-top: 0;
  margin-right: 25px;
  margin: 0 37px 1.125rem 0;
  padding: 0.8125rem 2.5rem 1.3125rem 1.5rem;
  h2 {
    margin-bottom: 0;
  }
  .date {
    color: #4e4e4e;
    font-size: 0.9375rem;
    font-weight: 700;
    margin-left: 1.25rem;
    align-self: center;
  }
  .yellow-btn {
    border-radius: 10px;
    background: #f9a51a;
    color: #fff;
    font-size: 0.9375rem;
    font-weight: 700;
    padding: 0.6875rem 1.1875rem 0.75rem 1.125rem;
    border: none;
  }
}
.timeline-ma5zon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  position: absolute;
  top: 5%;
}

@media screen and (max-width: 1200px) {
  .timeline-ma5zon {
    .ellipsis {
      width: 15px;
    }
    .vector {
      height: 78px;
    }
  }
}
@media screen and (max-width: 991px) {
  .timeline-ma5zon .vector {
    height: 83px;
  }
}
@media screen and (max-width: 645px) {
  .timeline-ma5zon .vector {
    height: 100px;
  }
}
@media screen and (max-width: 576px) {
  html {
    font-size: 10px;
  }
  .timeline-ma5zon .vector {
    height: 67px;
  }
}
@media screen and (max-width: 550px) {
  .timeline-ma5zon .vector {
    height: 82px;
  }
}
@media screen and (max-width: 420px) {
  .timeline-ma5zon .vector {
    height: 89px;
  }
}
