@import url('variables.css');

main {
  margin-bottom: 60px;
}
.nav-wrapper {
  padding: 35px 35px 0 43px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #fff;
}
.nav-tabs {
  padding-bottom: 29px;
  border: none;
}
.home-wrapper__categories--item {
  cursor: pointer;
}

.order-stats {
  padding-inline: 23px;
  padding-top: 24px;
  padding-bottom: 29px;
  border-radius: 19.596px;
  backdrop-filter: blur(66.5849609375px);
}

.banner-section {
  padding-right: 35px;
  padding-left: 43px;
  background-color: #fff;
  gap: 12px;
}
.stats-wrapper {
  padding-block: 15px;
  border-radius: 15.7px;

  .stat {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 0;
    text-align: left;
    border-left: 2px solid #ebf0ed;

    .stat-num {
      text-align: center;
      font-weight: 800;
      font-size: 2.5625rem;
      line-height: 2.9394rem;
      margin: 0;
    }
    .stat-title {
      color: #6b6b6b;
      font-size: 0.7349rem;
      font-weight: 600;
      line-height: 0.9798rem;
    }
  }
}
.orders-success {
  background: #15cab8;
}
.orders-fail {
  background: #44a6e9;
}

.filters-section {
  padding: 12px 30px 28px 27px;
}
.filters-wrapper {
  border-radius: 16px;
  border: 1px solid #ebf0ed;
}

.filters {
  margin-bottom: 34px;
  .filter-row1 {
    display: flex;
    margin-bottom: 29px;
    flex-wrap: wrap;
    row-gap: 10px;
  }
  .filter-row2 {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    row-gap: 10px;
  }
  .form-control::placeholder {
    color: #6b6b6b;
    text-align: right;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
  }

  .input-search {
    width: 690px;
    margin-left: 14px;
    input {
      padding-right: 49px;
    }
    span {
      position: absolute;
      right: 25px;
      top: 13px;
      border: none;
      background: transparent;
    }
  }
  .input-select {
    width: 284px;
    margin-left: 23px;
  }
  .input-number {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 29px;
  }

  .yellow-button {
    background-color: var(--yellow-color);
    color: white;
    padding: 15px 11px 13px 5px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
  }
}

.replacement-filters {
  background-color: #fff;
  margin-right: 19px;

  .input-search-replacement {
    width: 1169px;
    margin-left: 9px;
  }
}
.filters-wrapper-replacement {
  background-color: #fff;
}
/* table styles */
.table-responsive {
  border-radius: 16px;
  background-color: #fff;
  label {
    vertical-align: middle;
  }

  /* orders badges */
  .custom-badge {
    max-width: 97px;
    font-size: 0.875rem;
    text-align: center;
    font-weight: 700;
    padding: 5px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
  .new-badge {
    color: #44a6e9;
    border: 1px solid var(--44-a-6-e-9, #44a6e9);
    background: var(--f-1-f-7-ff, #f1f7ff);
  }
  .cancelled-badge {
    color: #e2362f;
    border: 1px solid #e2362f;
    background: #fff3f4;
  }
  .in-progress-badge {
    color: #fec600;
    border: 1px solid #fec600;
    background: #fffbf0;
  }
  .delivered-badge {
    max-width: none;
    color: #15cab8;
    border: 1px solid #15cab8;
    background: #f4ffff;
  }
  .track-badge {
    padding: 5px 12px 5px 14px;
    max-width: none;
    color: #084384;
    border: 1px solid #084384;
    background: var(--f-1-f-7-ff, #f1f7ff);
  }

  .text-pagination {
    color: #6b6b6b;
    text-align: right;
    font-size: 14px;
    font-weight: 700;
    margin: 0;
  }
  .button-pagination {
    color: #6b6b6b;
    border-radius: 10px;
    background: #ebf0ed;
    border: none;
    font-size: 18px;
    font-weight: 600;
    width: 40px;
    height: 41px;
  }
  .button-pagination-selected {
    color: #fff;
    background: var(--084384, #084384);
  }
}

.orders-table {
  font-size: 0.75rem;
  color: #6b6b6b;
  font-weight: 700;
  margin-bottom: 23px;
  text-align: right;
}
/* custom styles */
.btn-outline-secondary {
  --bs-btn-color: #036666;
  --bs-btn-hover-color: #036666;
  --bs-btn-hover-bg: #{shade-color($bd-violet, 10%)};
  --bs-btn-border-color: var(--light-accent-solid);
  --bs-btn-font-weight: 600;
}

/* Custom CSS for the checkbox */
.custom-checkbox {
  width: 36.075px;
  height: 36px;
  border-radius: 10px;
  border: 1px solid #ebf0ed;
  background: #fafafa;
  cursor: pointer;
  position: relative;
}
.custom-checkbox input {
  display: none;
}

.custom-checkbox-checkmark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: var(--blue-color);
  border-radius: 3px;
  display: none;
}
.custom-checkbox input:checked + .custom-checkbox-checkmark {
  display: block;
}

/* media queries */
@media screen and (max-width: 1340px) {
  html {
    font-size: 13px;
  }

  .stat img {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .stat-num {
    font-size: 2.1625rem;
  }
  .stat img {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .banner-section {
    padding-inline: 15px;
  }
}
