@import url('variables.css');

main {
  margin-bottom: 60px;
}
.nav-wrapper {
  padding: 35px 35px 0 43px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #fff;
}
.nav-tabs {
  padding-bottom: 29px;
  border: none;
}
.home-wrapper__categories--item {
  cursor: pointer;
}

.banner-section {
  display: flex;
  padding-right: 35px;
  padding-left: 43px;
  padding-bottom: 10px;
  background-color: #fff;
  gap: 12px;
  text-align: right;
}

.order-stats {
  flex: 1;
  padding-inline: 33px;
  padding-top: 24px;
  padding-bottom: 29px;
  border-radius: 19.596px;
  backdrop-filter: blur(66.5849609375px);
}
.stats-wrapper {
  height: 97.981px;
  border-radius: 15.7px;

  .stat {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 0;
    text-align: left;
    border-left: 2px solid #ebf0ed;
    text-align: center;
    text-wrap: nowrap;
    .stat-num {
      display: flex;
      align-self: center;
      gap: 15px;
      text-align: center;
      font-weight: 800;
      font-size: 2.5625rem;
      line-height: 2.9394rem;
      margin: 0;
    }
    .stat-title {
      color: #6b6b6b;
      font-size: 0.7349rem;
      font-weight: 600;
      line-height: 0.9798rem;
    }
  }
}
.orders-success {
  background: #15cab8;
  img {
    margin-bottom: 16px;
  }
}
.orders-fail {
  background: #44a6e9;
}

.filters-section {
  padding: 12px 30px 28px 27px;
}
.filters-wrapper {
  border-radius: 16px;
  border: 1px solid #ebf0ed;
}

.filters {
  margin-bottom: 34px;
  .filter-row1 {
    display: flex;
    margin-bottom: 29px;
    row-gap: 10px;
  }
  .filter-row2 {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    row-gap: 10px;
  }
  .form-control::placeholder {
    color: #6b6b6b;
    text-align: right;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
  }

  .input-search {
    width: 43%;
    margin-left: 14px;
    input {
      padding-right: 49px;
    }
    span {
      position: absolute;
      right: 25px;
      top: 13px;
      border: none;
      background: transparent;
    }
  }
  .input-select {
    width: 25%;
    margin-left: 23px;
  }
  .input-number {
    height: 50px;
    width: 14%;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 29px;
    select {
      width: 69px;
    }
  }
  .input-export {
    width: 10%;
  }

  .export-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 82px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid var(--Light-Accent-Solid, #ebf0ed);
    background: var(--Accent-Border-Fill, #fafafa);
    color: #036666;
    font-family: Manrope;
    font-size: 0.9375rem;
    font-weight: 600;
  }

  .input-add-sheet {
    width: 20%;
  }
}
.yellow-button {
  font-size: 0.9375rem;
  font-weight: 700;
  width: 159px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--yellow-color);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
}

.replacement-filters {
  background-color: #fff;
  border: none;
  .input-search-replacement {
    width: 1169px;
    margin-left: 9px;
  }
}
.filters-wrapper-replacement {
  background-color: #fff;
  border-radius: 0;
  border: none;
  padding-inline: 19px;
}
.replacement-table {
  border-radius: 16px;
  border: 1px solid #ebf0ed;
}
/* table styles */
.table-responsive {
  border-radius: 16px;
  background-color: #fff;
  padding-inline: 19px;

  label {
    vertical-align: middle;
  }

  /* orders badges */
  .custom-badge {
    max-width: 97px;
    font-size: 0.875rem;
    text-align: center;
    font-weight: 700;
    padding: 5px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-wrap: nowrap;
  }
  .new-badge {
    color: #44a6e9;
    border: 1px solid var(--44-a-6-e-9, #44a6e9);
    background: var(--f-1-f-7-ff, #f1f7ff);
  }
  .cancelled-badge {
    color: #e2362f;
    border: 1px solid #e2362f;
    background: #fff3f4;
  }
  .in-progress-badge {
    color: #fec600;
    border: 1px solid #fec600;
    background: #fffbf0;
  }
  .delivered-badge {
    max-width: none;
    color: #15cab8;
    border: 1px solid #15cab8;
    background: #f4ffff;
  }
  .track-badge {
    padding: 5px 12px 5px 14px;
    max-width: none;
    color: #084384;
    border: 1px solid #084384;
    background: var(--f-1-f-7-ff, #f1f7ff);
  }

  .text-pagination {
    color: #6b6b6b;
    text-align: right;
    font-size: 14px;
    font-weight: 700;
    margin: 0;
  }
  .button-pagination {
    color: #6b6b6b;
    border-radius: 10px;
    background: #ebf0ed;
    border: none;
    font-size: 18px;
    font-weight: 600;
    width: 40px;
    height: 41px;
  }
  .button-pagination-selected {
    color: #fff;
    background: var(--084384, #084384);
  }
}

.orders-table {
  font-size: 0.975rem;
  color: #6b6b6b;
  font-weight: 700;
  margin-bottom: 23px;
  text-align: right;
}
/* custom styles */
.btn-outline-secondary {
  --bs-btn-color: #036666;
  --bs-btn-hover-color: #036666;
  --bs-btn-hover-bg: #{shade-color($bd-violet, 10%)};
  --bs-btn-border-color: var(--light-accent-solid);
  --bs-btn-font-weight: 600;
}

/* Custom CSS for the checkbox */
.custom-checkbox {
  width: 36.075px;
  height: 36px;
  border-radius: 10px;
  border: 1px solid #ebf0ed;
  background: #fafafa;
  cursor: pointer;
  position: relative;
}
.custom-checkbox input {
  display: none;
}

.custom-checkbox-checkmark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: var(--blue-color);
  border-radius: 3px;
  display: none;
}
.custom-checkbox input:checked + .custom-checkbox-checkmark {
  display: block;
}

.empty-state {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 20px;
  margin-top: 45px;
  padding-bottom: 189px;
  img {
    max-width: 339px;
    margin-bottom: 50px;
  }
  .empty-state-text {
    color: #000;
    font-size: 1.375rem;
    font-weight: 500;
    margin-bottom: 33px;
    text-align: center;
  }
}
/* media queries */
@media screen and (max-width: 1380px) {
  html {
    font-size: 14px;
  }
  .banner-section {
    flex-direction: column;
  }
}

@media screen and (max-width: 1200px) {
  .banner-section {
    padding-right: 32px;
    padding-left: 23px;
  }
  .empty-state {
    img {
      max-width: 280px;
    }
  }
}
@media screen and (max-width: 1130px) {
  .filter-row1 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 768px) {
  .banner-section .order-stats .stat {
    text-wrap: pretty;
  }
  .order-stats .stat .stat-num {
    gap: 8px;
    font-size: 2.1625rem;
  }
  .filter-row1 {
    .input-search {
      width: 100%;
    }
    .input-select {
      width: 40%;
    }
    .input-number {
      width: 30%;
    }
    .input-export {
      width: 25%;
    }
  }
}
@media screen and (max-width: 570px) {
  .order-stats .stat .stat-num {
    display: block;
    font-size: 2rem;
  }
  .order-stats .stat .stat-title {
    font-size: 0.6349rem;
  }
  .filters-wrapper {
    border: none;
  }
  .banner-section {
    padding-inline: 15px;
  }
  .stat img {
    display: none;
  }

  .filter-row1 {
    .input-select {
      width: 46%;
    }
    .input-number {
      width: 28%;
    }
  }
  .empty-state {
    img {
      max-width: 230px;
    }
  }
}
