main {
  text-align: right;
  background: transparent !important;
  p {
    margin-bottom: 0;
  }
}
.payments-page__header .nav-link.active {
  border: 0;
  border-bottom: 2px solid #f9a51a !important;
}
.payments-page__header .nav-tabs {
  direction: rtl;
  padding-right: 0;
}
.payments-page__header .nav-link {
  color: #1a1616;
  border-bottom: 2px solid #d6d6d6;
  background: transparent !important;
}
.payments-page__header .nav-link.active span {
  color: #09529f;
}
.payments-page__header .nav-link span {
  margin-right: 8px;
  font-size: 1.25rem;
}

/* balance-tab */
.banners-wrapper {
  display: flex;
  gap: 17px;
}
.banner {
  border-radius: 0.9375rem;
  padding-top: 1.1875rem;
  padding-right: 1.75rem;
  padding-bottom: 1.6875rem;
  padding-left: 1rem;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 700;
  flex: 1;
  text-wrap: nowrap;
  span {
    font-size: 2.25rem;
    font-weight: 800;
  }
}

.banner-blue {
  background: #44a6e9;
}
.banner-pink {
  background: #ec7c90;
}
.banner-green {
  background: #15cab8;
}
.banner-orange {
  background: #ff8548;
}

.notice {
  margin-top: 13px;
  margin-bottom: 27px;
  border-radius: 16.666px;
  border: 1px solid #44a6e9;
  background: #f1f7ff;
  padding: 1.2rem;
  h2 {
    color: #084384;
    font-size: 16px;
    font-weight: 900;
    margin-bottom: 1rem;
  }
  p {
    color: #000;
    font-size: 16px;
    font-weight: 700;
  }
}

.filters-wrapper {
  padding-top: 38px;
  border-radius: 20px;
  input {
    height: 50px;
    border-radius: 10px;
    border: 1px solid #ebf0ed;
    max-width: 969px;
    margin-left: auto;
  }
  input[type='search']::placeholder {
    color: #6b6b6b;
    font-size: 1rem;
    font-weight: 700;
  }
  .filter-row1 {
    justify-content: space-between;
  }
  .input-search-replacement {
    width: 70%;
  }
}
.filters .input-group-append span {
  top: 17px;
}
label {
  margin-bottom: 0;
}
.replacement-table .orders-table td {
  vertical-align: middle;
}

.text-highlight {
  color: #15cab8;
  font-weight: 700;
}
.delivered-badge {
  max-width: 97px !important;
  padding: 5px !important;
}

/* new-withdraw-tab */
.form-wrapper {
  margin-top: 25px;
  border-radius: 20px;
  background: #fff;
  padding: 41px 34px 81px 20px;
  display: flex;
  flex-direction: column;
  select,
  input {
    border-radius: 4px;
    border: 1px solid #ebf0ed;
    background: #fafafa;
  }
  label {
    margin-bottom: 9px;
    color: #1b1b1b;
    font-size: 1rem;
    font-weight: 500;
  }
  .yellow-btn {
    margin-top: 2.5rem;
    border-radius: 10px;
    width: 34.5625rem;
    height: 3.125rem;
    background: #f9a51a;
    color: #fff;
    text-align: center;
    font-size: 0.9375rem;
    font-weight: 700;
    border: none;
    align-self: center;
  }
}

/* my-withdrawal-tab*/
.buttons-wrapper {
  display: flex;
  gap: 14px;
}
.custom-btn {
  height: 50px;
  border-radius: 10px;
  font-weight: 600;
  text-wrap: nowrap;
  font-size: 0.9375rem;
  font-family: Manrope;
}
.export-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 5.125rem;
  border: 1px solid var(--Light-Accent-Solid, #ebf0ed);
  background: var(--Accent-Border-Fill, #fafafa);
  color: #036666;
}

.withdrawal-btn {
  border: 1px solid #084384;
  background: var(--Accent-Border-Fill, #fafafa);
  color: #084384;
  width: 9.8125rem;
}

.print-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.9375rem;
  width: 8rem;
  border-radius: 10px;
  background: #f9a51a;
  color: #fff;
  font-weight: 700;
  border: none;
  img {
    width: 1.5rem;
  }
}

.table-img {
  width: 4.3125rem;
}
@media screen and (max-width: 1200px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .notice {
    h2 {
      font-size: 1.2rem;
    }
    p {
      font-size: 1.2rem;
    }
  }
  .banner {
    flex: 1;
    padding-left: 0.8rem;
    text-wrap: nowrap;
  }
  .banners-wrapper {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 576px) {
  html {
    font-size: 10px;
  }
  .buttons-wrapper {
    flex-wrap: wrap;
  }
  .custom-btn {
    height: 40px !important;
  }
  .form-wrapper .yellow-btn {
    width: 80%;
  }
}
